/*menu*/
  .nav{
  background-color: purple;
  overflow: hidden;
 }
 .nav a{
  float: left;
  display: block;
  color: bluel;
  text-align: center;
  padding: 0;
  text-decoration: none;
  font-size: 15px;
  width: 80px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  height: 10px;
  color: white;
 }
.nav a:hover{
background-color: bluel;
  height: 10px;
  color:seashell;

}
.nav a.active{
  background-color: #2f3540;
}
.search-content{
  float: right;
  background-color: purple;
}
/*search bar*/
input[type=text]{
  width: 300px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 2px;
  font-size: 16px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  height: 10px;
}
input[type=text]  focus{
  width: 100%
}

/*images cards*/
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 305px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: purple;
  color: white;
}
.pop{
	color: purple;
	font-size: 120px;
   
}

/*filliping images*/
.container1{
	position: absolute;
	width: 250px;
	height: 200px;
	background: none;
	top: 180%;
	left: 25%;
	transform: translate(-50%,-50%);

}
.card1{
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
    transition: all 0.8s ease;
	border-radius: 10px;


}
.card1:hover{
	transform: rotateY(180deg);
}
.front1{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
   
    color: purple;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	overflow: hidden;

}
.back1{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
    background: purple;
    color: white;
    transform: rotateY(180deg);
	text-align: center;
	font-size: 18px;
	font-weight: bold;
  border-radius: 10px;
}

/*flipping card 2*/

.container2{
	position: absolute;
	width: 250px;
	height: 200px;
	background: none;
	top: 180%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.front2{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
   
    color: purple;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	overflow: hidden;

}
.back2{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
    background: purple;
    color: white;
    transform: rotateY(180deg);
	text-align: center;
	font-size: 18px;
	font-weight: bold;
  border-radius: 10px;
}
/* flipping card 3*/
.container3{
	position: absolute;
	width: 250px;
	height: 200px;
	background: none;
	top: 180%;

	right: 2%;
	transform: translate(-50%,-50%);

}
.front3{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
   
    color: purple;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	overflow: hidden;

}
.back3{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
    background: purple;
    color: white;
    transform: rotateY(180deg);
	text-align: center;
	font-size: 18px;
	font-weight: bold;
  border-radius: 10px;
}
.picks{
	
	color: purple;
	font-size: 18px;
}
.div2{
	background: white;
	font-size: 20px;
	color: purple;
}
.div3{
	color: purple;
}

.button1{
	background-color: purple;
}
.button{
 background-color: white;
 color: purple;
 width: 100px;
 height: 100px;
 border-radius: 50%;

}
.wrapper{
	width: 100%
}
.wrapper .corsel{
	max-width: 1200px;
	margin: auto;
	padding: 0 30px
}
.corsel .card{
	background-color: purple;
	line-height: 250px;
	margin: 20px 0;
}
.corsel .card-1{
	background-color: purple;
}
.foot1{
	color: white;
	width: 33.33%;
    background-color: black;
    float: left;
    height: 20%;
}
.foot2{
	color: white;
width: 33.33%;
background-color: black;
float: right;
height: 20%;
}
.foot3{
	color: white;
	width: 33.33%;
	background-color: black;
	margin: 0 auto;
	height: 20%;
}
.foot11{
	height: 33.33%;
	font-size: 20px;
}
.foot22{
	font-size: 20px;
}
.foot33{
	font-size: 20px;
}
/*product slider*/
.slider {
  width: 100%;
  height: 300px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;

}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider .item {
  margin-right: 10px;
}

.slider .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 20px 20px;
  min-width: 50px;
  background: #fff;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;

  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
  left: 0;
}

.ctrl-btn.pro-next {
  right: 0;
}


/*product slider*/
div.ruko {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 305px;
}



div.ruko img {
  width: 100%;
  height: auto;
}

div.rukoo {
  padding: 15px;
  text-align: center;
  background-color: white;
  color: black;


}
.pop{
	color: purple;
	font-size: 120px;
   
}
/*our cataori*/
#or{

	
}
.our{
	background-color: #efefef;
}
.pool
{
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}
.cool{
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
	flex-wrap: wrap;


}

